PORT=8000
MONGODB_URI=mongodb+srv://hitesh:your-password@cluster0.lxl3fsq.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=vdtubesc
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=vdtubersc
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=ddoc4ryg9
CLOUDINARY_API_KEY=213844113342599
CLOUDINARY_API_SECRET=E37YFDF9q6JlQ3iwnx0pesi374Q